@tailwind base;
@tailwind components;
@tailwind utilities;

/* define colors here */
:root {
  --black: #333333;
  --white: #ffffff;
}

@layer components {
  h1 {
    @apply lg:text-6xl md:text-5xl text-4xl font-black;
  }
  h2 {
    @apply lg:text-4xl md:text-3xl text-2xl font-bold;
  }
  h3 {
    @apply lg:text-2xl text-xl font-medium;
  }
  h4 {
    @apply lg:text-2xl text-xl font-light;
  }
}

.bg-black {
  background-color: var(--black);
}

.bg-white {
  background-color: var(--white);
}

.black {
  color: var(--black);
}

.white {
  color: var(--white);
}